.feedback_window {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  animation: slideDown 3s ease-out forwards;
}

.feedback_window h2 {
  width: 300px;
  height: 100px;
  background-color: #00ac1c;
  border-radius: 14px;
  color: white;
  font-family: "Graphik-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}




@keyframes slideDown {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}
